

* { margin:0; padding:0; box-sizing:border-box; }
nav {
    float: right;
    font-size: 15px;
    padding: 0 4em 0 0;
}
a {
    background-color: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #fc9323;
}
body {
    width: 900px;
    background-color: #ddfffd;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
#intro {
    color:#333;
    font-size:30px;
    line-height:1.5;
    float: left;
    width: 50%;
    padding: 10px;
}
h1 {
    color: #fc9323;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h2 {
    color: #fc9323;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
}
.stages > * {
    float: left;
    width: 50%;
}
.stages > div {
    padding:4em;
}
.blocks {
    width: 200px;
}
footer {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    clear: both;
}
.clearfix:after, .stages:after .nav:after #intro:after {
    clear:both;
    display:block;
    content:"";
}
