

* { margin:0; padding:0; box-sizing:border-box; }
nav {
    position: right;
    font-family: 'Open+Sans', sans-serif;
    font-size:12px;
    font-weight:300;
}
p {
    color:#333;
    font-family: 'Open+Sans', sans-serif;
    font-size:20px;
    font-weight:300;
    line-height:1.5;
}
body, header {
    margin: 20px;
}
#intro {
    color:#333;
    font-family: 'Open+Sans', sans-serif;
    font-size:20px;
    font-weight:300;
    line-height:2;
}
h1 {
    color: #296F2A;
    font-size: 100px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h2 {
    color: #296F2A;
    font-size: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.stages {
    max-width:1200px;
    margin:auto;
    padding: 4em 0;
    font-family: 'Open+Sans', sans-serif;
    font-size:16px;
    font-weight:300;
    line-height:1.8
    border: black;
}
.stages > * {
    float: left;
    width: 50%;
}
.stages > div {
    padding:4em;
}
footer {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    clear: both;
}
.clearfix:after, .stages:after .nav:after {
    clear:both;
    display:block;
    content:"";
}
