

* { margin:0; padding:0; box-sizing:border-box; }
nav {
    float: right;
    font-size:12px;
    padding: 20px;
}
a {
    background-color: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #fc9323;
}
body {
    margin: 20px;
    background-color: #ddfffd;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight:300;
}
#intro {
    color:#333;
    font-size:30px;
    line-height:2;
    width: 1200px;
    float: left;
}
h1 {
    color: #fc9323;
    font-size: 100px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h2 {
    color: #fc9323;
    font-size: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.stages {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    line-height:1.5em;
    border: 1px black solid;
}
.stages > * {
    float: left;
    width: 50%;
}
.stages > div {
    padding:4em;
}
.blocks {
    width: 20%;
}
footer {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    clear: both;
}
.clearfix:after, .stages:after .nav:after {
    clear:both;
    display:block;
    content:"";
}
