body {
    background-color: white;
    font-family: Helvetica;
    font-size: 14;
    text-align: left;
    font-weight: 18;
}

h1 {
    color: #296F2A;
    font-size: 20;
    text-align: left;
    font-family: Open Sans;
    font-weight: 18;
}

#tagline {
	font-style: italic
}

