@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');


body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    text-align: left;
    font-weight: 18;
    line-height: 2em;
    margin: 30px;
}

h1 {
    color: #296F2A;
    font-size: 30;
    text-align: left;
    font-family: 'Bitter', sans-serif;
    font-weight: 18;
}

h2 {
	font-family: 'Open Sans', sans-serif;
    font-size: 14;
    text-align: left;
    font-weight: 18;
    line-height: 2em;
    margin: 2em;
}

font-family: 'Bitter', serif;
font-family: 'Open Sans', sans-serif;